table
        {
            border-collapse: collapse;
            width: 60%;
            margin: auto;
            background-color: pink;
            font-family: sans-serif;
        }
        th,td
        {
            border: 1px solid;
            padding: 10px;
            text-align: center;
        }
        th
        {
            background-color:darkgrey;
        }
       
